.contact-form-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    width: 200px; /* Plus large que le précédent */
    padding: 15px; /* Plus grand pour un meilleur clic */
    background-color: grey; /* Charte grise */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Plus grand pour une meilleure lisibilité */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkgrey;
}