.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
    min-height: 100vh; /* Garantit que l'application remplit au moins la hauteur complète de la fenêtre */
    position: relative;
    padding-bottom: 120px; /* Ajuste cela pour être au moins aussi haut que ton footer pour éviter le chevauchement */
}

.content {
    flex: 1; /* Permet au contenu de remplir tout l'espace disponible */
    padding-bottom: 120px; /* Ajoute un espace en bas pour ne pas être caché par le pied de page */
}