.App {
    text-align: left; /* Changez le centrage pour aligner les textes à gauche */
    min-height: 100vh; /* Garantit que l'application remplit au moins la hauteur complète de la fenêtre */
    position: relative;
    padding-bottom: 150px; /* Ajuste cela pour être au moins aussi haut que ton footer pour éviter le chevauchement */
  }
  
  .App-logo {
    height: 40vmin; /* Taille du logo, ajustez selon vos besoins */
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear;
  }
  
  .App-header {
    background-color: #282c34;
    width: 100%; /* Assurez-vous que l'en-tête occupe la largeur complète */
    display: flex; /* Utilisez flexbox pour une disposition en ligne */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: flex-start; /* Alignez les éléments au début (gauche) */
    padding: 10px; /* Ajoutez un peu d'espace autour des éléments */
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .app-logo {
    height: 120px; /* Ou toute autre hauteur */
    width: 120px; /* Ou toute autre largeur correspondant au ratio d'aspect de votre logo */
    margin-right: 20px;
    /* Autres styles */
}
  
  .App-link {
    color: #61dafb;
  }
  
  .control-panel {
    margin-top: -20px; /* Déplace vers le haut par 20px */
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
